<form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                           <tr role="row">
                               <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 294px;">文章标题</th>
                               <!-- <th class="sorting" tabindex="0" aria-controls="example1"  aria-label="Browser: activate to sort column ascending">文章类别</th> -->
                               <th class="sorting" tabindex="0" aria-controls="example1"  aria-label="Platform(s): activate to sort column ascending">描述</th>
                               <th class="sorting" tabindex="0" aria-controls="example1"  aria-label="Engine version: activate to sort column ascending">发布时间</th>
                               <th class="sorting" tabindex="0" align="center" aria-controls="example1"  aria-label="CSS grade: activate to sort column ascending">操作</th>
                           </tr>
                         </thead>
            <tbody>
            <volist name="travelsList" id="list">
                <tr role="row" align="center">
                     <td>{$list.title|getSubstr=0,33}</td>
                     <!-- <td>{$list.category}</td> -->
                     <td>{$list.keywords}</td>
                     
                     <td><?php echo date('Y-m-d', $list['add_time']); ?></td>
                     <td>
                      <a class="btn btn-primary" href="{:U('Tourism/travels',array('act'=>'edit','id'=>$list['id']))}"><i class="fa fa-pencil"></i></a>
                      <a class="btn btn-danger" href="javascript:if(confirm('你确定要删除?')) location.href='{:U('Tourism/travels',array('act'=>'del','id'=>$list['id']))}'"><i class="fa fa-trash-o"></i></a>
                      
                     </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</form>
<div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-9 text-right">{$page}</div>
</div>
<script>
    // 点击分页触发的事件
    $(".pagination  a").click(function(){
        cur_page = $(this).data('p');
        ajax_get_table('search-form2',cur_page);
    });
	
    /*
     * 清除静态页面缓存
     */
    function ClearnewsHtml(lines_id)
    {
    	$.ajax({
				type:'GET',
				url:"{:U('Admin/System/ClearnewsHtml')}",
				data:{lines_id:lines_id},
				dataType:'json',
				success:function(data){
					layer.alert(data.msg, {icon: 2});								 
				}
		});
    }
    /*
     * 清除商品缩列图缓存
     */
    function ClearnewsThumb(lines_id)
    {
    	$.ajax({
				type:'GET',
				url:"{:U('Admin/System/ClearnewsThumb')}",
				data:{lines_id:lines_id},
				dataType:'json',
				success:function(data){
					layer.alert(data.msg, {icon: 2});								 
				}
		});
    }		
</script>