<include file="Public/min-header"/>
<script type="text/javascript">
    window.UEDITOR_Admin_URL = "__ROOT__/Public/plugins/Ueditor/";
    var URL_upload = "{$URL_upload}";
    var URL_fileUp = "{$URL_fileUp}";
    var URL_scrawlUp = "{$URL_scrawlUp}";
    var URL_getRemoteImage = "{$URL_getRemoteImage}";
    var URL_imageManager = "{$URL_imageManager}";
    var URL_imageUp = "{$URL_imageUp}";
    var URL_getMovie = "{$URL_getMovie}";
    var URL_home = "{$URL_home}";    
</script>

<load href="__ROOT__/Public/plugins/Ueditor/ueditor.config.js"/>
<load href="__ROOT__/Public/plugins/Ueditor/ueditor.all.js"/>
<link href="__PUBLIC__/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/plugins/daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>

<div class="wrapper">
    <include file="Public/breadcrumb"/>
   	<section class="content">
       <div class="row">
			<div class="col-md-12">
			
			<div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">旅游线路</h3>
                  <a href="{:U('Tourism/linesList')}" data-toggle="tooltip" title="" class="btn btn-default pull-right" data-original-title="返回"><i class="fa fa-reply"></i></a>
                </div>
                <form class="form-horizontal" action="{:U('Tourism/linesHandle')}" id="add_post" method="post">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">文章标题</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" value="{$info.title}" name="title" >
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">始发地</label>
                      <div class="col-sm-2">
                        <input type="text" class="form-control" name="start"  value="{$info.start}">
                      </div>
                    </div>

                   <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">目的地</label>
                      <div class="col-sm-2">
                          <!-- <input type="text" class="form-control" name="city"  value="{$info.city}"> -->
  
                          <select name="city" id="" class="form-control">
                          <option value="0">顶级分类</option>
                           
                           <foreach name="region" item="vo" key="k">   
                              <?php if($vo['name'] == $info['city']) {?> 
                                  <option value='<?php echo $vo["id"]; ?>' selected><?php echo $vo["sign"].$vo["name"]; ?>
                                  </option>
                              <?php }elseif($info['city'] == "0" && $vo['name'] == $address['id']){ ?>
                                  <option value='{$vo.parent_id}' selected><?php echo $vo["sign"].$vo["name"]; ?>
                                  </option>
                              <?php }else{ ?>
                                  <option <?php if ($vo['parent_id'] == "0") {?> disabled="" <?php } ?> value='{$vo.name}'>{$vo.sign}{$vo.name}</option>
                                  <!-- <option value='{$vo.name}'>{$vo.sign}{$vo.name}</option> -->
                              <?php } ?>
                          </foreach>

                          </select>
                      </div>
                    </div>
                    <div class="form-group">
                    	<label for="text" class="col-sm-2 control-label">banner图</label>                   	
                    	<div class="col-sm-8"><input type="text" id="imagetext" name="thumb" value="{$info.thumb}"><input type="button" class="button" onClick="GetUploadify(1,'imagetext','article','')"  value="上传图片"/></div>
                    </div>
                    <div class="form-group">
                      <label for="text" class="col-sm-2 control-label">seo关键字</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="keywords"  value="{$info.keywords}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="text" class="col-sm-2 control-label">外部链接</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="link"  value="{$info.link}">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">产品编号</label>
                      <div class="col-sm-2">
                        <input type="text" class="form-control" name="line_sn"  value="{$info.line_sn}">
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="text" class="col-sm-2 control-label">发布时间</label>
                      <div class="col-sm-2">
                            <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar">
                                            </i>
                                    </span>
                               

                                      <input type="date" class="form-control"  name="add_time"  value="<?php if($info['add_time'] == ""){ echo date("Y-m-d",time());}else{ echo date('Y-m-d', $info['add_time']);} ?>">                          
                            </div>                        
                      </div>
                    </div>      
                    <!-- <div class="form-group">
                      <label for="text" class="col-sm-2 control-label">截止时间</label>
                      <div class="col-sm-2">
                            <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar">
                                            </i>
                                    </span>
                                        
                            </div>                        
                      </div>
                    </div>  -->

                    <div class="form-group">
                      <label class="control-label col-sm-2">文章内容</label>
                      <div class="col-sm-8">
                        <textarea class="span12 ckeditor" id="post_content" name="content" title="">
                            {$info.content}
                        </textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2">行程简览</label>
                      <div class="col-sm-8">
                        <textarea class="span12 ckeditor" id="post_content1" name="introduct" title="">
                            {$info.introduct}
                        </textarea>
                      </div>
                    </div>

                    <div class="form-group">
                          <label for="text" class="col-sm-2 control-label">领队</label>
                          <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <input type="type" class="form-control "  name="guides"  value="{$info.guides}" placeholder="姓名" onfocus="if(this.placeholder == '姓名') this.placeholder = ''" 
                            onblur="if(this.placeholder =='') this.placeholder = '姓名'">                                            
                                </div>                        
                          </div>
                          <div class="col-sm-4">
                            联系方式：<input type="text" style="height:32px;text-indent:5px;" class="form-control-2" name="guidetel"  value="{$info.guidetel}" placeholder="联系方式" onfocus="if(this.placeholder == '联系方式') this.placeholder = ''" 
                            onblur="if(this.placeholder =='') this.placeholder = '联系方式'">
                          </div>
                    </div> 

                    
                <?php if($start_tp != "") {?>
                    <div class="form-group">
                      <div class="form-box">
                  <volist name="start_tp" id="stp">
                        <div class="form-time">
                          <label for="text" class="col-sm-2 control-label">出发时间</label>
                          <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                        <span class="add-on input-group-addon">
                                                <i class="glyphicon glyphicon-calendar fa fa-calendar">
                                                </i>
                                        </span>
                                    <input type="date" class="form-control "  name="start_time[]"  value="<?php if($stp['start_time'] == ""){ echo date("Y-m-d",time());}else{ echo date('Y-m-d', $stp['start_time']);} ?>">                                            
                                </div>                        
                          </div>
                          <label for="text" style="height:30px;text-align:right;line-height:34px;" class="col-sm-1 ">价钱</label>
                          <div class="col-sm-4">
                            成人价：<input type="text" style="height:32px;text-indent:5px;" class="form-control-2" name="start_price[]"  value="{$stp.start_price}" placeholder="成人价"  onfocus="if(this.placeholder == '成人价') this.placeholder = ''" 
                            onblur="if(this.placeholder =='') this.placeholder = '成人价'">

                            儿童价：<input type="text" style="height:32px;text-indent:5px;" class="form-control-2" name="child_price[]"  value="{$stp.child_price}" placeholder="儿童价"  onfocus="if(this.placeholder == '儿童价') this.placeholder = ''" 
                            onblur="if(this.placeholder =='') this.placeholder = '儿童价'">
                          </div>
                          <div class="col-sm-1 form-add">添加</div>
                          <div class="col-sm-1 form-removes">删除</div>
                        </div>
                  </volist>
                      </div>
                    </div> 
                <?php }else{?>
                  <div class="form-group">
                      <div class="form-box">
                        <div class="form-time">
                          <label for="text" class="col-sm-2 control-label">出发时间</label>
                          <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                        <span class="add-on input-group-addon">
                                                <i class="glyphicon glyphicon-calendar fa fa-calendar">
                                                </i>
                                        </span>
                                    <input type="date" class="form-control "  name="start_time[]"  value="<?php if($stp['start_time'] == ""){ echo date("Y-m-d",time());}else{ echo date('Y-m-d', $stp['start_time']);} ?>">                                            
                                </div>                        
                          </div>
                          <label for="text" style="height:30px;text-align:right;line-height:34px;" class="col-sm-1">价钱</label>
                          <div class="col-sm-4">
                            成人价：<input type="text" style="height:32px;text-indent:5px;" class="form-control-2" name="start_price[]"  value="{$stp.start_price}" placeholder="成人价" onfocus="if(this.placeholder == '成人价') this.placeholder = ''" 
                            onblur="if(this.placeholder =='') this.placeholder = '成人价'">

                            儿童价：<input type="text" style="height:32px;text-indent:5px;" class="form-control-2" name="child_price[]"  value="{$stp.child_price}" placeholder="儿童价"  onfocus="if(this.placeholder == '儿童价') this.placeholder = ''" 
                            onblur="if(this.placeholder =='') this.placeholder = '儿童价'">
                          </div>
                          <div class="col-sm-1 form-add">添加</div>
                        </div>
                      </div>
                    </div> 
                  <?php } ?>
<style>
  .form-time{overflow: hidden;margin-bottom: 15px;}
  .form-add,.form-remove,.form-removes{ height: 30px; width: 60px;background: #00c0ef;line-height: 30px;border-radius: 5px;cursor: pointer;margin-right: 5px;}
</style>                 
<script>
  $('.form-add').click(function() {
    add();
  });
  function add(){
    $('.form-box').append('<div class="form-time"><label for="text" class="col-sm-2 control-label">出发时间</label><div class="col-sm-2"><div class="input-prepend input-group"><span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span><input type="date" class="form-control "  name="start_time[]"  value="<?php if($info['start_time'] == ""){ echo date("Y-m-d",time());}else{ echo date('Y-m-d', $info['start_time']);} ?>"></div></div><label for="text" style="height:30px;text-align:right;line-height:34px;" class="col-sm-1">价钱</label><div class="col-sm-4">成人价：<input type="text" style="height:32px;text-indent:5px;" class="form-control-2" name="start_price[]"  value="" placeholder="成人价" >儿童价： <input type="text" style="height:32px;text-indent:5px;" class="form-control-2" name="child_price[]"  value="" placeholder="儿童价"></div><div class="col-sm-1 form-remove">删除</div></div>');
      remove();
  }
  function remove(){
    $('.form-remove').click(function(){
      $(this).parents('.form-time').remove();
    });
  }

  $('.form-removes').click(function() {
    var leng = $('.form-removes').length;
    if(leng>=2){
      $(this).parents('.form-time').remove();
    }else{
      alert('刀下留人:(')
    }
  });
</script>                    

                    <div class="form-group">
                      <label for="text" class="col-sm-2 control-label">是否显示</label>
                      <div class="col-sm-5">
                        <div class="col-sm-2">
                           <label><input type="radio" name="is_open" value="1"<if condition="$info[is_open] eq 1 || $info[is_open] eq ''"> checked="checked"</if><if condition="$info[is_open] eq 1"> checked="checked"</if>> 显示 </label>                          
                        </div>
                         <div class="col-sm-3">
                           <label><input type="radio" name="is_open" value="0"<if condition="$info[is_open] eq 0 && $info[is_open] != ''"> checked="checked"</if>> 不显示</label>                          
                        </div>
                      </div>
                    </div> 

                    <div class="form-group">
                      <label for="text" class="col-sm-2 control-label">原价</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="old_price"  value="{$info.old_price}">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="text" class="col-sm-2 control-label">游费</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="price"  value="{$info.price}">
                      </div>
                    </div>

                   <!--  <div class="form-group">
                      <label for="text" class="col-sm-2 control-label">儿童价</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="child_price"  value="{$info.child_price}">
                      </div>
                    </div> -->
                    <div class="form-group">
                      <label for="text" class="col-sm-2 control-label">房间差价</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="dif_price"  value="{$info.dif_price}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="text" class="col-sm-2 control-label">客服电话</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="tel"  value="{$info.tel}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="text" class="col-sm-2 control-label">旅游类型</label>
                      <div class="col-sm-2">
                        <select name="type" id="" class="form-control">
                          <option<?php if ($info['type'] == "跟团游") {?> selected <?php } ?> value="跟团游">跟团游</option>
                          <option<?php if ($info['type'] == "自由行") {?> selected <?php } ?> value="自由行">自由行</option>
                          <option<?php if ($info['type'] == "半自由行") {?> selected <?php } ?> value="半自由行">半自由行</option>
                        </select>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="text" class="col-sm-2 control-label">备注信息</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="comments"  value="{$info.comments}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="text" class="col-sm-2 control-label">优惠信息</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="benefit"  value="{$info.benefit}" placeholder='输入两条优惠信息用英文,隔开'>
                      </div>
                    </div>   
                    <div class="form-group">
                      <label for="text" class="col-sm-2 control-label">所有时间</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="alltime"  value="{$info.alltime}">
                      </div>
                    </div> 

                    <div class="form-group">
	                    <label class="control-label col-sm-2">网页描述</label>
	                    <div class="col-sm-8">
				                <textarea class="form-control" id="post_description" name="description" title="">{$info.description}</textarea>
	                    </div>
                      </div>                        
                    
                    <div class="form-group">
                    	<label class="control-label col-sm-2">              
                    		<input type="hidden" name="act" value="{$act}">
	                  	 	<input type="hidden" name="lines_id" value="{$info.lines_id}"></label>
                    	 <div class="col-sm-8">
                    	 	<button type="reset" class="btn btn-default">重置</button>
                    	  	<button type="button"  onclick="checkForm()" class="btn btn-info pull-right">提交</button>
                    	 </div>
                    </div>
                  </div>
                  <div class="box-footer row">

                  </div>
                </form>
              </div>

          </div>
	   </div>
	</section>
</div>

<style type="text/css">
  .edui-default .edui-popup-content{min-height: 160px;}
</style>

<script type="text/javascript">
    var editor;
    $(function () {
        //具体参数配置在  editor_config.js 中
        var options = {
            zIndex: 999,
            initialFrameWidth: "100%", //初化宽度
            initialFrameHeight: 400, //初化高度
            focus: false, //初始化时，是否让编辑器获得焦点true或false
            maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign',//允许的最大字符数 'fullscreen',
            pasteplain: true, autoHeightEnabled: true,
            autotypeset: {
                mergeEmptyline: true,        //合并空行
                removeClass: true,           //去掉冗余的class
                removeEmptyline: false,      //去掉空行
                textAlign: "left",           //段落的排版方式，可以是 left,right,center,justify 去掉这个属性表示不执行排版
                imageBlockLine: 'center',    //图片的浮动方式，独占一行剧中,左右浮动，默认: center,left,right,none 去掉这个属性表示不执行排版
                pasteFilter: false,          //根据规则过滤没事粘贴进来的内容
                clearFontSize: false,        //去掉所有的内嵌字号，使用编辑器默认的字号
                clearFontFamily: false,      //去掉所有的内嵌字体，使用编辑器默认的字体
                removeEmptyNode: false,      //去掉空节点
                                             //可以去掉的标签
                removeTagNames: {"font": 1},
                indent: false,               // 行首缩进
                indentValue: '0em'           //行首缩进的大小
            }
        };
        editor = new UE.ui.Editor(options);
        editor.render("post_content");
    });  
    
    // 行程简览
    var editor1;
    $(function () {
        //具体参数配置在  editor_config.js 中
        var options = {
            zIndex: 999,
            initialFrameWidth: "100%", //初化宽度
            initialFrameHeight: 400, //初化高度
            focus: false, //初始化时，是否让编辑器获得焦点true或false
            maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign',//允许的最大字符数 'fullscreen',
            pasteplain: true, autoHeightEnabled: true,
            autotypeset: {
                mergeEmptyline: true,        //合并空行
                removeClass: true,           //去掉冗余的class
                removeEmptyline: false,      //去掉空行
                textAlign: "left",           //段落的排版方式，可以是 left,right,center,justify 去掉这个属性表示不执行排版
                imageBlockLine: 'center',    //图片的浮动方式，独占一行剧中,左右浮动，默认: center,left,right,none 去掉这个属性表示不执行排版
                pasteFilter: false,          //根据规则过滤没事粘贴进来的内容
                clearFontSize: false,        //去掉所有的内嵌字号，使用编辑器默认的字号
                clearFontFamily: false,      //去掉所有的内嵌字体，使用编辑器默认的字体
                removeEmptyNode: false,      //去掉空节点
                                             //可以去掉的标签
                removeTagNames: {"font": 1},
                indent: false,               // 行首缩进
                indentValue: '0em'           //行首缩进的大小
            }
        };
        editor1 = new UE.ui.Editor(options);
        editor1.render("post_content1");
    }); 
    
	$('#publish_time').daterangepicker({
		format:"YYYY-MM-DD",
		singleDatePicker: true,
		showDropdowns: true,
		minDate:'2016-01-01',
		maxDate:'2030-01-01',
		startDate:'{$info.publish_time|date="Y-m-d",###}',
	    locale : {
            applyLabel : '确定',
            cancelLabel : '取消',
            fromLabel : '起始时间',
            toLabel : '结束时间',
            customRangeLabel : '自定义',
            daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
            monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月','七月', '八月', '九月', '十月', '十一月', '十二月' ],
            firstDay : 1
        }
	});


  $('.publish_times').daterangepicker({
    format:"YYYY-MM-DD",
    singleDatePicker: true,
    showDropdowns: true,
    minDate:'2016-01-01',
    maxDate:'2030-01-01',
    startDate:'{$info.publish_time|date="Y-m-d",###}',
      locale : {
            applyLabel : '确定',
            cancelLabel : '取消',
            fromLabel : '起始时间',
            toLabel : '结束时间',
            customRangeLabel : '自定义',
            daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
            monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月','七月', '八月', '九月', '十月', '十一月', '十二月' ],
            firstDay : 1
        }
  });
	
	function checkForm(){
		if($('input[name="title"]').val() == ''){
			alert("请填写文章标题！");
			return false;
		}
		if($('#cat_id').val() == '' || $('#cat_id').val() == 0){
			alert("请选择文章类别！");
			return false;
		}
		if($('#post_content').val() == ''){
			alert("请填写文章内容！");
			return false;
		}
		$('#add_post').submit();
	}
</script>
</body>
</html>