<form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                           <tr role="row">
                               <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 294px;">昵称</th>
                               <!-- <th class="sorting" tabindex="0" aria-controls="example1"  aria-label="Browser: activate to sort column ascending">文章类别</th> -->
                               <th class="sorting" tabindex="0" aria-controls="example1"  aria-label="Platform(s): activate to sort column ascending">QQ号</th>
                               <th class="sorting" tabindex="0" aria-controls="example1"  aria-label="Platform(s): activate to sort column ascending">职位</th>
                               <th class="sorting" tabindex="0" align="center" aria-controls="example1"  aria-label="CSS grade: activate to sort column ascending">操作</th>
                           </tr>
                         </thead>
            <tbody>
            <volist name="kefuList" id="list">
                <tr role="row" align="center">
                     <td>{$list.nickname}</td>
                     <!-- <td>{$list.category}</td> -->
                     <td>{$list.number}</td>
                     
                     <td>
                        <if condition="$list.local == 1">
                            游换购客服
                        <elseif condition="$list.local == 2"/>
                            UU册客服
                        <elseif condition="$list.local == 3"/>
                            U旅行
                        </if>
                     </td>
                     <td>
                      <!-- <a target="_blank" href="{:U('Home/Benefits/detail',array('benefits_id'=>$list['benefits_id']))}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="查看详情"><i class="fa fa-eye"></i></a> -->
                      <a class="btn btn-primary" href="{:U('Kefu/shopkefu',array('act'=>'edit','id'=>$list['id']))}"><i class="fa fa-pencil"></i></a>
                      <a class="btn btn-danger" href="javascript:if(confirm('你确定要删除?')) location.href='{:U('Kefu/shopkefu',array('act'=>'del','id'=>$list['id']))}'"><i class="fa fa-trash-o"></i></a>
                      <!-- <a href="javascript:void(0);" onclick="ClearAritcleHtml('{$list[benefits_id]}')" class="btn btn-default" title="清除静态缓存页面"><i class="fa fa-fw fa-refresh"></i></a> -->
                     </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</form>
<div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-9 text-right">{$page}</div>
</div>
<script>
    // 点击分页触发的事件
    $(".pagination  a").click(function(){
        cur_page = $(this).data('p');
        ajax_get_table('search-form2',cur_page);
    });
	
    /*
     * 清除静态页面缓存
     */
    function ClearnewsHtml(benefits_id)
    {
    	$.ajax({
				type:'GET',
				url:"{:U('Admin/System/ClearnewsHtml')}",
				data:{benefits_id:benefits_id},
				dataType:'json',
				success:function(data){
					layer.alert(data.msg, {icon: 2});								 
				}
		});
    }
    /*
     * 清除商品缩列图缓存
     */
    function ClearnewsThumb(benefits_id)
    {
    	$.ajax({
				type:'GET',
				url:"{:U('Admin/System/ClearnewsThumb')}",
				data:{benefits_id:benefits_id},
				dataType:'json',
				success:function(data){
					layer.alert(data.msg, {icon: 2});								 
				}
		});
    }		
</script>